{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/myScript.js' %}"></script>

<br />

<div class="row middle"> 
    <img src="{% static 'app/images/literature.png' %}"  height="100" width="400" />
</div>

<br /> 

<div class="row">

    <div class="col-md-8">
        
       
        
         <div class="rect2 box"> 
                    <b> Song </b> of the month  
         </div>

         <div class="jumbotron jumbotron-fluid myJumbotron3">
               <div class="container">
                    <h3> <b> Prvo </b> </h3>
                    <h6> Posted: May 28, 2017, 8:37 a.m.</h6>
                    <p class="middle"> <i> maja </i> 
                    <a href="/look/poetry/17" class="btn btn-primary btn-large pull-right">Read more &raquo;</a>
                </div>
        </div>
    
         <div class="rect2 box"> 
                   <b>  Story </b> of the month  
         </div>

         <div class="jumbotron jumbotron-fluid myJumbotron3">
               <div class="container">
                    <h3> <b> Prica </b> </h3>
                    <h6> Posted: May 13, 2017, 7:52 p.m.</h6>
                    <p class="middle"> <i> Marko </i> 
                    <a href="/look/story/16" class="btn btn-primary btn-large pull-right">Read more &raquo;</a>
                </div>
        </div>

         <div class="rect2 box"> 
                  <b>  Quote </b> of the month  
         </div>

         <div class="jumbotron jumbotron-fluid myJumbotron3">
               <div class="container">
                    <h3> <b> Again </b> </h3>
                    <h6> Posted: July 1, 2017, 7:39 p.m. </h6>
                    <p class="middle"> <i> mihael </i> 
                    <a href="/look/quote/6" class="btn btn-primary btn-large pull-right">Read more &raquo;</a>
                </div>
        </div>


    </div>
    
    {% include 'app/search.html' %}


</div>


{% endblock %}
