{% if user.is_authenticated %}
    <form id="logoutForm" action="/logout" method="post">
        {% csrf_token %}
        <ul class="nav navbar-nav navbar-right navbar-custom">
        
            <li><a href="{% url 'write!' %}" class="l5"> <div class="textColor g5"> Write!  </div> </a></li>
            <li><a href="{% url 'myprofile' %}" class="l6"> <div class="textColor g6">My profile </div></a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> <div class="textColor">  Log off  </div> </a></li>
        </ul>

    </form>

{% else %}

<ul class="nav navbar-nav navbar-right navbar-custom">
   
    <li><a href="{% url 'register' %}" class="l7"> <div class="textColor g7">Register </div></a></li>
    <li><a href="{% url 'mylogin' %}" class="l8"> <div class="textColor g8">Log in </div> </a></li>
</ul> 

{% endif %}
