{% extends "app/layout.html" %}
{% load static %}


{% block content %}

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/myScript.js' %}"></script>


<div class="row">

    <div class="col-md-8">
       
         <div class="jumbotron myJumbotron2">

            <b> {{title}} </b>     
            <h6> <b>Genre: </b>{{genre}}  &nbsp;&nbsp;&nbsp; <b>Date: </b>{{date}} &nbsp;&nbsp;&nbsp; {% if originalAuthor %} <b>Original source: </b>{{originalAuthor}} {% endif %}</h6> 
             <!--original only for quotes-->
             <pre class="newLine">{{text}}</pre>


                <div  class = "pull-right"> <!--there was h6 size of text should do it-->
                     
                       <h6>  <b>Views: </b> {{views}}
                         <b> Upvotes:</b>  <span id="upvotes"> {{upvotes}} </span>
                        
                          {% if user.is_authenticated %}
                            
                              {% if hasIt == 0 %} 
                                <button onclick="upvote()"class="btn"> Upvote </button>
                              {% else %}
                                <button onclick="removeUpvote()"class="btn"> Remove upvote </button>                    
                              {% endif %}

                          {% endif %}
                    

                       </h6>
                </div>
            
        </div>

        <div class="jumbotron myJumbotron2">
            <h3>Comments</h3>

            
            {% if user.is_authenticated %}
            
                <form action="{{id}}" method="post" class="form-horizontal">
                        {% csrf_token %} 
                        <textarea class="myArea2" name="comment" rows = "2" placeholder="Enter your comment here"></textarea>
                         <div  class = "pull-right">
                             <input type="submit" class="btn btn-default" value="Comment"> 
                        </div>
                </form>

                <br />
                <br />

            {% endif %}
        
        

            {% for comment, picture in zipped %}

               <hr style="height:1px;border-top:1px solid #000000" />

               <div class="row">
                       <div class="col-md-2">
                                <h5> <b> {{comment.author_ID}} </b> </h5>
                                {% if picture %}
                                      <img src="{{ picture.url }}"  height="70" width="70" /> 
                                {% endif %}
                       </div>

                        <div class="col-md-10">
                           <p> 
                                <h5>
                                    {{comment.text}}
                                </h5>

                                <h6 class="pull-right"> <b> {{comment.date}} </b> </h6>
                           </p>
                     </div>
               </div>

            {% endfor %}
        </div>

    </div>

    
    {% include 'app/search.html' %}

     

</div>

{% endblock %}