{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/myScript.js' %}"></script>

<br />

<div class="row">

    <div class="col-md-1">
        
         <img src="{% static 'app/images/dogeIsReal.jpeg'  %}"  height="110" width="110" />
        
    </div>

    
    <div class="col-md-4">

        <div class="shiftRight">
             <p> <b> User name: </b> QuantBoy</p>
             <p> <b> Number of posts: </b> 12 </p>
             <p> <b> Number of views of all content : </b> 250 </p>
             <p> <b> Total number of upvotes : </b> 30 </p>
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-1">
        
         <img src="{% static 'app/images/dogeIsReal.jpeg'  %}"  height="110" width="110" />
        
    </div>

    
    <div class="col-md-4">

        <div class="shiftRight">
             <p> <b> User name: </b> QuantBoy</p>
             <p> <b> Number of posts: </b> 12 </p>
             <p> <b> Number of views of all content : </b> 250 </p>
             <p> <b> Total number of upvotes : </b> 30 </p>
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-1">
        
         <img src="{% static 'app/images/dogeIsReal.jpeg'  %}"  height="110" width="110" />
        
    </div>

    
    <div class="col-md-4">

        <div class="shiftRight">
             <p> <b> User name: </b> QuantBoy</p>
             <p> <b> Number of posts: </b> 12 </p>
             <p> <b> Number of views of all content : </b> 250 </p>
             <p> <b> Total number of upvotes : </b> 30 </p>
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-1">
        
         <img src="{% static 'app/images/dogeIsReal.jpeg'  %}"  height="110" width="110" />
        
    </div>

    
    <div class="col-md-4">

        <div class="shiftRight">
             <p> <b> User name: </b> QuantBoy</p>
             <p> <b> Number of posts: </b> 12 </p>
             <p> <b> Number of views of all content : </b> 250 </p>
             <p> <b> Total number of upvotes : </b> 30 </p>
        </div>
    </div>


</div>

{% endblock %}