{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/myScript.js' %}"></script>

<br />

<div class="row">

    <div class="col-md-1">
        
       <!--  <img src="{% static 'app/images/dogeIsReal.jpeg'  %}"  height="110" width="110" /> -->
        {% if profile_pic  %}
              <img src="{{ profile_pic.url }}"  height="110" width="110" />
        {% endif %}
        
    </div>

    
    <div class="col-md-4">

        <div class="shiftRight">
             <p> <b> User name: </b> {{username}}</p>
             <p> <b> Number of posts: </b> {{numOfPosts}} </p>
             <p> <b> Number of views of all my content : </b> {{numOfViews}} </p>
             <p> <b> Total number of upvotes : </b> {{numOfUpvotes}} </p>
        </div>
    </div>

    <div class="col-md-4">
    </div>

    <div class="coll-md-3">
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <h2 class="text1 bold"> My poetry</h2>
  
        <p><a class="btn btn-default b1" onclick="loadData('poetry')"> Load songs </a></p> <!-- loaded by default -->
    </div>
    <div class="col-md-4">
        <h2 class="text2"> My quotes</h2>
        <p><a class="btn btn-default b2" onclick="loadData('quotes')" > Load quotes </a></p> 
    </div>
    <div class="col-md-4"> 
        <h2 class="text3"> My short stories</h2>
         <p><a class="btn btn-default b3" onclick="loadData('stories')" > Load stories </a></p> 
    </div>
</div>

<br /> 
<br />

<div class="row">

     <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle" type="button"  data-toggle="dropdown">Sort by
        <span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="#" id="bs1" onclick="linkSort()">Alphabet</a></li>
          <li><a href="#" id="bs2" onclick="linkDateSort()">Date posted</a></li>
   <!--  <li><button class="dropdown-item" type="button" id="bs3" onclick="linkSort()">Alphabet</button></li> -->
        </ul>
    </div>

   <div class="jumbotron">

        <p id ="links">
            {% for song in songs %}
             <a href="/look/poetry/{{song.id}}"> {{song.title}} </a> &nbsp; &nbsp;     
            {% endfor %}
       </p>
    </div>

</div>

{% endblock %}