{% extends "app/layout.html" %}

{% block content %}

<br />
<br /> 

<div class="row">

    <div class="col-md-8">


             {% if user.is_authenticated %}
        
                 <div class="box rect"> 
                    <p class="shift incSize"> 
                        Click to <a href="{% url 'write!' %}"><b>Write!</b></a> 
                    </p> 
                </div>
                <br />

            {% endif %}
        

              <div class="rect3 box incSize">  
                    <b> Quotes </b>
                  
              </div>
        
            

             {% for quote in quotes %}

             <div class="jumbotron myJumbotron4">
                <h2> <b> {{quote.title}} </b> </h2>
                <h6> Posted: {{quote.date}} Original source:{{quote.originalauthor}} </h6>
                <p class="middle">  <i> {{quote.author_id}} </i>
                <a href="/look/quote/{{quote.id}}" class="btn btn-primary btn-large pull-right"> Read more &raquo;</a>
                 </p>
            </div>

        {% endfor %}
       <!-- <button class="btn btn-primary btn-large pages"> Drafts1 </button> -->
       <!-- <button class="btn btn-primary btn-large pages"> Drafts2 </button> -->

    </div>

    
    {% include 'app/search.html' %}



</div>


{% endblock %}
